<header>
    <nav class="navbar">
        <a href="#" class="logo">MIAM MIAM</a>
        <div class="nav-links ">
            <ul>
                <li class="active"><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('menus') }}">Menus</a></li>
                <li><a href="{{ path('menus_categories') }}">Categories</a></li>
                <li><a href="{{ path('admin') }}">Admin</a></li>
            </ul>
        </div>
    </nav>
</header>