{% extends 'base-admin.html.twig' %}
{% block body %}
<h2>Les Menus</h2>

{{ form_start(form) }}

{{ form_widget(form) }}


<button type="submit">Soumettre</button>
{{ form_end(form) }}



{% endblock %}