* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.footer {
  background-color: #bab9b2;
  color: white;
  text-align: center;
  padding: 10px 0;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

form {
  text-align: center;
}
